.nav-dark {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0 5%;
    border-bottom: 1px solid #3a3a3d;
  }
  
  .nav-light {
    height: 80px;
    display: flex;
    align-items: center;
    background-color: white;
    color: bliack;
    padding: 0 5%;
    border-bottom: 1px solid #3a3a3d;
  }
  
  nav button {
    all: unset;
  }
  
  nav button:hover {
    cursor: pointer;
    scale: 1.1;
  }
  
  .nav-left {
    display: flex;
    gap: 15px;
    flex: 1;
  }
  
  .nav-barChart {
    stroke-width: 4px;
    height: 30px;
    width: 30px;
  }
  
  .nav-icon {
    height: 30px;
    width: 30px;
    stroke-width: 2.5px;
  }
  
  .nav-middle {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .nav-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }