* {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  text-align: center;
  background-color: #121212;
  width: 100vw;
  height: 100vh;
  color: white;
}

body {
  padding: 0%;
  margin: 0;
}

nav {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 0 5%;
  border-bottom: 1px solid #3A3A3D;
}

nav button {
  all: unset;
}

nav button:hover {
  cursor: pointer;
  scale: 1.1;
}

.nav-left {
  display: flex;
  gap: 15px;
  flex: 1;
}

.nav-barChart {
  stroke-width: 4px;
  height: 30px;
  width: 30px;
}

.nav-icon {
  height: 30px;
  width: 30px;
  stroke-width: 2.5px;
}

.nav-middle {
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.game {
  width: 100vw;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  padding-top: 10px;
  flex-direction: column;
}

.board {
  width: 350px;
  height: 380px;
  /* height: 850px; */
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.row {
  flex: 33%;
  /* height: 60px; */
  display: flex;
  flex-direction: row;
  margin: 3px;
}

.letter {
  flex: 33%;
  height: 100%;
  border: 1px solid grey;
  margin: 2px;
  display: grid;
  place-items: center;
  font-size: 30px;
  font-weight: bolder;
  color: white;
}

#correct {
  background-color: #528d4e;
}

#almost {
  background-color: #b49f39;
}

#error {
  background-color: #3a393c;
}

#correct-contrast {
  background-color: #F5793A;
}

#almost-contrast {
  background-color: #85BFF9;
}

.keyboard {
  width: 700px;
  height: 250px;
  margin-top: 10px;
}

.line1 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  display: flex;
  justify-content: center;
  margin: 5px;
}
.line2 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}
.line3 {
  flex: 33%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
}

.key {
  width: 50px;
  height: 70px;
  margin: 5px;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 20px;
  background-color: grey;
  color: white;
  cursor: pointer;
}

#big {
  width: 100px;
}
#disabled {
  background-color: #3a393c;
}

.GameOver {
  padding: 80px;
}

.how-modal-body {
  padding-left: 30px;
}

.how-btn-container {
  text-align: right;
}

.how-btn {
  all: unset;
  cursor: pointer;
}

.how-x {
  stroke-width: 2.3px;
  height: 28px;
  width: 28px;
}

.how-title {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 8px;
}

.how-sm-title {
  font-size: 22px;
  font-weight: 100;
}

.how-list {
  padding: 0px 15px 10px 20px;
}

.how-list-item {
  padding-bottom: 10px;
}

.how-examples-title {
  font-weight: 800;
  padding-bottom: 10px;
}

.how-letter-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.how-letter {
  font-size: 22px;
  font-weight: 600;
  border: 2px solid grey;
  margin: 2px;
  width: 30px;
  height: 30px;
  align-content: center;
  text-align: center;
}

.how-bold {
  font-weight: 600;
}

#how-letter-green {
  background-color: #528d4e;
  border: none;
  height: 34px;
  width: 34px;
}

#how-letter-yellow {
  background-color: #b49f39;
  border: none;
  height: 34px;
  width: 34px;
}

#how-letter-grey {
  background-color: #3a393c;
  border: none;
  height: 34px;
  width: 34px;
}

.how-example {
  margin-bottom: 20px;
}

.settings-head {
  display: flex;
}

.settings-title {
  flex: 4;
  display: flex;
  justify-content: center;
  font-size: 17px;
}

.settings-btn-container {
  cursor: pointer;
}

.settings-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
}
